asyncio
ccxt
cryptography
fastapi
networkx
numpy
pandas
python-dotenv
python-telegram-bot
redis
sqlalchemy
sqlalchemy[asyncio]
asyncpg
uvicorn
websockets
requests 
ccxtpro
asyncpg
psycopg2-binary
aiogram
loguru